p, nav{
    font-size: 150%;
}

footer{
    font-size: .5em;
}
footer address{
    font-size: 15px;
}

body{
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;

}

body{
    text-align: center;
}

 #bienvenida {
    font-size: 2em;
}
